# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
a.out
publisher
subscriber
reader

# Editor files
*~
*.bak
*.swo
*.swp

# Build files
.gradle

# etc
DEPEND.mk

