# editor files
*~
*.bak
*.swo
*.swp
\#*#
.#*
TAGS

# object files
*.o

# library files
*.a
*.dll
*.dylib
*.lib
*.so
*.so.*

# executable files
a.out
*.app
*.exe

# autotools files
Makefile
autom4te.cache
config.h
config.log
config.status
src/.deps/
src/.dirstamp
stamp-h1

# debug files
core
core.*
*.DEBUG

# target files
copier
deleter
eraser
grower
inspector
publisher
reader
subscriber
writer

# distribution files
lancaster-*.*.tar.gz
