# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
a.out
writer
publisher
subscriber
reader
inspector
grower

# Editor files
*~
*.bak
*.swo
*.swp
\#*#
.#*

# Build files
.gradle
DEPEND.mk

# etc
core
core.*
*.DEBUG
.dontpull
